
<template>
    <div class=" container border border-dark rounded mt-5">
        <h1>List uloh</h1>
        <input @keyup.enter="createTodo()" v-model="newTodo" type="text" class="form-control mb-2">
        <button @click="createTodo()" class="btn btn-primary" >Pridaj ulohu</button>
        <h1>Nesplnene ulohy</h1>
        <p v-for="todo in todos" :key="todo.id" class="">
            <button @click="deleteTodo(todo.id)" class="btn btn-success" >Hotovo</button>
            {{todo.name}}
        </p>
    </div>
    <button @click="logout()" class="btn btn-danger" style="position: fixed; top: 5px; right: 5px;">Odhlasenie</button>
</template>

<script>
    import axios from 'axios';

    export default ({
        data() {            
            return {
                todos: [],
                newTodo:'',                
            }
        },

        methods: {
            async createTodo() {
                let response = await axios.post('/task', {
                    name: this.newTodo
                })
                console.log(this.newTodo)
                this.todos.push(response.data)
                this.newTodo = null
            },

            async getTasks() {
                let response = await axios.get('/task');
                this.todos = response.data
                console.log(this.todos)
            },
            
            async deleteTodo(id){
                let response = await axios.delete('/task/'+id);
                this.todos = this.todos.filter(todo => todo.id !== id)
            },
        
            async logout(){
                let response = await axios.get('/logout')
                if(response.data == true){
                    location.reload()
                }
                console.log(response)
            }

        },

        mounted() {
            this.getTasks()
        }

    });
</script>
